<?xml version="1.0"?>
<launch>
    <!-- This launch file serve the purpose of calling the official irb120 description launch file-->
    <include file="$(find irb120_description)/irb120.launch"></include>
    <!-- Runs rvis file-->
    <node name = "rviz_monitor" type="rviz" pkg="rviz" args="-d $(find cxq41_ps4_irb120_draw_heart)/rviz_config/irb120_record_path.rviz" />
    <!-- Runs rqt_gui with config -->
    <node name = "my_rqt_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" args = "--perspective-fila $(find cxq41_ps4_irb120_draw_heart)/rqt-gui_setting/irb120_heart.perspective"/>

</launch>